@import '../../styles/variables.scss';
.text-field {
    &__label {
        display: block;

    }
    &__label-text {
        font-size: medium;
        display: block;
        margin-bottom: 0.25rem;
    }
    &__input, &__textarea {
        display: block;
        width: 100%;
        border: 1px solid $secondary-text;
        font-size: medium;
        padding: 0.5rem;
        border-radius: 0.25rem;
    }
}