$primary: rgb(25, 118, 210);
$secondary: rgb(220, 0, 78);
$error: rgb(244, 67, 54);
$warning: rgb(255, 152, 0);
$info: rgb(33, 150, 243);
$success: rgb(76, 175, 80);
$primary-text: rgba(0, 0, 0, 0.87);
$secondary-text: rgba(0, 0, 0, 0.54);
$disabled-text: rgba(0, 0, 0, 0.38);
